<?xml version="1.0" encoding="utf-8"?>
<settings>
  <setting id="client_id" type="text" label="Client ID" default="" />
  <setting id="access_token" type="text" label="Token" default="" visible="false" />
  <setting id="last_repo" type="text" label="Last Repo" default="" visible="false" />
  <setting id="last_folder" type="text" label="Last Folder" default="" visible="false" />
  <setting id="selected_repo" type="text" label="Repo" default="" visible="false" />
  <setting id="selected_repo_owner" type="text" label="Owner" default="" visible="false" />
  <setting id="selected_folder" type="text" label="Folder" default="" visible="false" />
  <setting id="log_level" type="select" label="Log Level" values="regular|debug|trace" default="regular" />
  <setting id="include_old_logs" type="bool" label="Include old logs" default="true" />
  <setting id="exclude_startup_logs" type="bool" label="Exclude startup" default="false" />
</settings>
